<div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12">

        <div class="container-fluid" id="items_container">
            <div class="row table_labels">
                <div class="col col-2 text-truncate">Nazwa</div>
                <div class="col col-7 text-truncate">Właściwość</div>
                <div class="col col-1 text-truncate">Ilość</div>
                <div class="col col-1 text-truncate">Cena/szt.</div>
                <div class="col col-1 text-truncate"></div>
            </div>
            <form class="form" id="items_form" field_character_id="<%= character.id %>">
                <% _.each(character.items, function (item) { %>
                    <div class="form-row form-items">
                        <div class="form-group col-2">
                            <div class="d-flex flex-column">
                                <input class="form-control form-control-sm" id="" type="text"
                                       value="<%= item.name %>" field_items_id="<%= item.id %>"
                                       field_value_id="name">
                            </div>
                        </div>
                        <div class="form-group col-7">
                            <div class="d-flex flex-column">
                                <input class="form-control form-control-sm" id="" type="text"
                                       value="<%= item.description %>" field_items_id="<%= item.id %>"
                                       field_value_id="description">
                            </div>
                        </div>
                        <div class="form-group col-1">
                            <div class="d-flex flex-column">
                                <input class="form-control form-control-sm" id="" type="text"
                                       value="<%= item.amount %>" field_items_id="<%= item.id %>"
                                       field_value_id="amount">
                            </div>
                        </div>
                        <div class="form-group col-1">
                            <div class="d-flex flex-column">
                                <input class="form-control form-control-sm" id="" type="text"
                                       value="<%= item.price %>" field_items_id="<%= item.id %>"
                                       field_value_id="price">
                            </div>
                        </div>
                        <div class="form-group col-1">
                            <div class="d-flex flex-column">
                                <div class="input-group input-group-sm">
                                    <a
                                            class="btn btn-sm btn-light remove-form-row"
                                            field_row_id="<%= item.id %>"
                                            field_row_model="Items"
                                    >&times;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </form>
            <hr>
            <a class="btn btn-sm btn-outline-primary" id="new_items_row">Dodaj</a>
        </div>
    </div>

</div>
