<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>

<div class="container-fluid" id="map">

  <div class="row">
    <div class="col col-8">
      <div class="container-fluid" id="map_container" style="margin-top: 1pc;">
        <canvas id="map_editor" width="1025" height="769"></canvas>
      </div>
    </div>
    <div class="col col-4">

      <form class="form-map">

        <div class="form-group">
          <label for="exampleInputEmail1">Nazwa</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Name" value="<%= map.name %>" field_map_id="<%= map.id %>" field_value_id="name">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Opis</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" field_map_id="<%= map.id %>"
            field_value_id="description"><%= map.description %></textarea>
        </div>

      </form>

      <h4>Narzędzia</h4>
      <ul>
        <li id="block_obstacle_1">Przeszkoda 1x1</li>
        <li id="block_grass_1">Trawa 1x1</li>
      </ul>
    </div>
  </div>
</div>
