<div class="row">
    <div class="col col-12 col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <h3 class="text-center">Statystyki czarów</h3>
        <div class="container">
            <div class="row table_labels">
                <div class="col col-2 text-truncate">Stopień rzutu obronnego</div>
                <div class="col col-2 text-truncate">Poziom</div>
                <div class="col col-2 text-truncate">Czary dzienne</div>
                <div class="col col-2 text-truncate">Czary bazowe</div>
                <div class="col col-2 text-truncate">Czary ze specjalizacji</div>
                <div class="col col-2 text-truncate">Czary premiowe</div>
            </div>

            <form class="form" id="ss_form" field_character_id="<%= character.id %>">

                <% _.each(character.ss, function (ss) { %>
                    <div class="form-row form-ss form_ss input_ss">
                        <div class="form-group col-2">
                            <div class="d-flex flex-column">
                                <input class="form-control form-control-sm input-value input-value-sum" type="text"
                                       spells_level_value="<%= ss.level %>" disabled>
                            </div>
                        </div>
                        <div class="form-group col-2 align-middle">
                            <div class="d-flex flex-column">
                                <h5 class="input-name"><%= ss.level %></h5>
                            </div>
                        </div>
                        <div class="form-group col-2">
                            <div class="d-flex flex-column">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm" id="inputSSSum" value=""
                                           disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-2">
                            <div class="d-flex flex-column">
                                <input class="form-control form-control-editable form-control-sm" id="inputSSBaseSpells"
                                       type="text"
                                       value="<%= ss.base %>" field_ss_id="<%= ss.id %>" field_value_id="base">
                            </div>
                        </div>
                        <div class="form-group col-2">
                            <div class="d-flex flex-column">
                                <div class="input-group input-group-sm">
                                    <input class="form-control form-control-editable form-control-sm "
                                           id="inputSSSpecSpells" type="text"
                                           value="<%= ss.spec %>" field_ss_id="<%= ss.id %>" field_value_id="spec">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-2">
                            <div class="d-flex flex-column">
                                <div class="input-group input-group-sm">
                                    <input class="form-control form-control-editable form-control-sm"
                                           id="inputSSBonusSpells" type="text"
                                           value="<%= ss.bonus %>" field_ss_id="<%= ss.id %>" field_value_id="bonus">
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </form>
            <form>
                <% _.each(character.others, function (other) { %>
                    <div class="form-row form-others input_other">
                        <div class="form-group col-6">
                            <h5>Bazowy atrybut czarów:</h5>
                        </div>
                        <div class="form-group col-6">
                            <select class="custom-select custom-select-sm form-control  form-control-sm "
                                    id="inputOthersSpellAbility"
                                    field_others_id="<%= other.id %>" field_value_id="spellAbility">
                                <option value="CHA" <% if(other.spellAbility === 'CHA'){ %>selected
                                        <% } %>
                                >CHA
                                </option>
                                <option value="INT" <% if(other.spellAbility === 'INT'){ %>selected
                                        <% } %>
                                >INT
                                </option>
                                <option value="RZT" <% if(other.spellAbility === 'RZT'){ %>selected
                                        <% } %>
                                >RZT
                                </option>
                            </select>
                        </div>
                        <div class="form-group input-other" style="display: none;">
                            <input class="" id="inputOthersSpellAbilityValue" type="text" name="" value="">
                            <input class="input-ability input-ability-CHA" id="" type="text" name="" value="">
                            <input class="input-ability input-ability-INT" id="" type="text" name="" value="">
                            <input class="input-ability input-ability-RZT" id="" type="text" name="" value="">
                        </div>
                    </div>
                <% }) %>
            </form>
        </div>
    </div>
    <div class="col col-12 col-xl-8 col-lg-8 col-md-12 col-sm-12">
        <h3 class="text-center">Lista zaklęć</h3>
        <div class="container" id="spells_container">
            <div class="row table_labels">
                <div class="col col-1 text-truncate">Komórki czaru</div>
                <div class="col col-1 text-truncate">Poziom</div>
                <div class="col col-2 text-truncate">Nazwa</div>
                <div class="col col-4 text-truncate">Opis krótki</div>
                <div class="col col-1 text-truncate">Opis pełny</div>
                <div class="col col-2 text-truncate">Rzut (+kość "d")</div>
                <div class="col col-1 text-truncate"></div>
            </div>
            <form class="form" id="spells_form" field_character_id="<%= character.id %>">
                <% _.each(character.spells, function (spell) { %>
                    <div class="form-row form-spells">
                        <div class="form-group col col-1">
                            <div class="d-flex flex-column">
                                <input class="form-control form-control-sm input-value"
                                       value="<%= spell.cells %>"
                                       field_spells_id="<%= spell.id %>"
                                       field_value_id="cells"
                                       type="number">
                            </div>
                        </div>
                        <div class="form-group col col-1">
                            <div class="d-flex flex-column">
                                <input class="form-control form-control-sm input-value"
                                       value="<%= spell.level %>"
                                       field_spells_id="<%= spell.id %>"
                                       field_value_id="level"
                                       type="number">
                            </div>
                        </div>
                        <div class="form-group col col-2">
                            <div class="d-flex flex-column">
                                <input class="form-control form-control-sm input-value"
                                       value="<%= spell.name %>"
                                       field_spells_id="<%= spell.id %>"
                                       field_value_id="name"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group col col-4">
                            <div class="d-flex flex-column">
                                <input class="form-control form-control-sm input-value"
                                       value="<%= spell.description %>"
                                       field_spells_id="<%= spell.id %>"
                                       field_value_id="description"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group col col-1">
                            <div class="d-flex flex-column">
                                <button
                                        type="button"
                                        class="btn btn-sm btn-light"
                                        data-toggle="modal"
                                        data-target="#spells-modal-<%= spell.id %>"
                                >
                                    <i class="fas fa-sticky-note"></i>
                                </button>
                                <div class="modal fade" id="spells-modal-<%= spell.id %>" tabindex="-1" role="dialog"
                                     aria-labelledby="spells-modal-label" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="spells-modal-label"></h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <textarea
                                                        class="form-control form-control-sm"
                                                        rows="20"
                                                        field_spells_id="<%= spell.id %>"
                                                        field_value_id="notepad"
                                                ><%= spell.notepad %></textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Zamknij
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col col-2">
                            <div class="d-flex flex-column">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><a class="make_throw_another_dice"><i
                                                        class="fas fa-dice-d20"></i></a>
                                        </div>
                                    </div>
                                    <input class="form-control form-control-sm input-value-1"
                                           type="text"
                                           value="<%= spell.throw %>"
                                           field_spells_id="<%= spell.id %>"
                                           field_value_id="throw"
                                           tested_name="<%= spell.name %>">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col col-1">
                            <div class="d-flex flex-column">
                                <div class="input-group input-group-sm">
                                    <a class="btn btn-sm btn-outline-light remove-form-row"
                                       field_row_id="<%= spell.id %>"
                                       field_row_model="Spells">&times;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </form>
            <hr>
            <a class="btn btn-sm btn-outline-primary " id="new_spells_row">Dodaj</a>
        </div>
    </div>
</div>
