<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>

<div class="container-fluid dice" id="dice_table" style="display: none;">
    <div id="info_div">
        <div class="center_field">
            <span id="label"></span>
        </div>
        <div class="center_field">
            <div class="bottom_field">
                <span id="labelhelp"></span>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <form class="col col-xl-6">

                <div class="input-group">

                    <div class="input-group-prepend">
            <span class="input-group-text text-truncate" style="max-width: 12rem;" id="basic-addon1">
              <i class="fas fa-dice-d20"></i>
            </span>
                    </div>
                    <input class="form-control" id="set" type="text" value="d20"/>
                </div>
            </form>
            <button class="col col-1 btn btn-outline-secondary" id="clear">wyczyść</button>
            <button class="col col-1 btn btn-outline-primary" id="throw">rzuć</button>
            <button class="col col-1 btn btn-outline-danger" id="close">zamknij</button>
            <p class="col col-2 col-xl-2 align-middle" id="ammount"></p>
        </div>
    </div>

    <div class="container-fluid">
        <div id="canvas"></div>
    </div>
</div>

<div class="container-fluid sheet" id="sheet">

    <script>
        var characterID = '<%= character.id %>';
    </script>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab" aria-controls="main"
               aria-selected="true">Ogólne</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="eq-tab" data-toggle="tab" href="#eq" role="tab" aria-controls="eq"
               aria-selected="false">Ekwipunek</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="spells-tab" data-toggle="tab" href="#spells" role="tab" aria-controls="spells"
               aria-selected="false">Zaklęcia</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane active" id="main" role="tabpanel" aria-labelledby="main-tab">
            <div class="row">
                <div class="col col-12 col-xl-4 col-lg-12 col-md-12 col-sm-12">
                    <h3 class="text-center">Postać</h3>
                    <div class="container-fluid">
                        <form class="input_character col-lg-12 col-md-12 col-sm-12">
                            <div class="form-row">
                                <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <div class="d-flex flex-column">
                                        <input class="form-control form-control-sm" id="inputCharacterName" type="text"
                                               value="<%= character.name %>" field_data_name="name"
                                               field_data_id="<%= character.id %>">
                                        <label for="inputCharacterName">Imię postaci</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-xl-8 col-lg-8 col-md-12 col-sm-12">
                                    <div class="d-flex flex-column">
                                        <input class="form-control form-control-sm" id="inputCharacterClasses"
                                               type="text"
                                               value="<%= character.classes %>" field_data_name="classes"
                                               field_data_id="<%= character.id %>">
                                        <label for="inputCharacterClasses">Klasa</label>
                                    </div>
                                </div>
                                <div class="form-group col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                    <div class="d-flex flex-column">
                                        <input class="form-control form-control-sm" id="inputCharacterLevel" type="text"
                                               value="<%= character.level %>" field_data_name="level"
                                               field_data_id="<%= character.id %>">
                                        <label for="inputCharacterLevel">Poziom</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <div class="d-flex flex-column">
                                        <input class="form-control form-control-sm" id="inputCharacterRace" type="text"
                                               value="<%= character.race %>" field_data_name="race"
                                               field_data_id="<%= character.id %>">
                                        <label for="inputCharacterRace">Rasa</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-xl-8 col-lg-8 col-md-12 col-sm-12">
                                    <div class="d-flex flex-column">
                                        <input class="form-control form-control-sm" id="inputCharacterCharacter"
                                               type="text"
                                               value="<%= character.character %>" field_data_name="character"
                                               field_data_id="<%= character.id %>">
                                        <label for="inputCharacterCharacter">Charakter</label>
                                    </div>
                                </div>
                                <div class="form-group col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                    <div class="d-flex flex-column">
                                        <input class="form-control form-control-sm" id="inputCharacterSex" type="text"
                                               value="<%= character.sex %>" field_data_name="sex"
                                               field_data_id="<%= character.id %>">
                                        <label for="inputCharacterSex">Płeć</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <h3 class="text-center">Atrybuty</h3>
                    <div class="container">
                        <div class="row table_labels">
                            <div class="col col-2 text-truncate">Nazwa</div>
                            <div class="col col-2 text-truncate">Wartość</div>
                            <div class="col col-3 text-truncate">Modyfikator</div>
                            <div class="col col-2 text-truncate">Tymczasowa wartość</div>
                            <div class="col col-3 text-truncate">Tymczasowy modyfikator</div>
                        </div>
                        <form class="form form-horizontal" role="form">

                            <% _.each(character.abilities, function (ability) { %>

                                <div class="form-row input_abilities input_abilities_<%= ability.name %>">
                                    <div class="form-group col-2 align-middle">
                                        <div class="d-flex flex-column">
                                            <h5 class="input-name"><%= ability.name %></h5>
                                        </div>
                                    </div>
                                    <div class="form-group col-2">
                                        <div class="d-flex flex-column">
                                            <input class="form-control form-control-sm input-ability-base-value" id=""
                                                   type="text" value="<%= ability.value1 %>"
                                                   field_ability_id="<%= ability.id %>" field_value_id="value1">
                                        </div>
                                    </div>
                                    <div class="form-group col-3">
                                        <div class="d-flex flex-column">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"><a class="make_throw"><i
                                                                    class="fas fa-dice-d20"></i></a>
                                                    </div>
                                                </div>
                                                <input class="form-control form-control-sm input-ability-base-mod" id=""
                                                       type="text" value="" tested_name="<%= ability.name %>" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-2">
                                        <div class="d-flex flex-column">
                                            <input class="form-control form-control-sm input-ability-temp-value" id=""
                                                   type="text" value="<%= ability.value3 %>"
                                                   field_ability_id="<%= ability.id %>" field_value_id="value3">
                                        </div>
                                    </div>
                                    <div class="form-group col-3">
                                        <div class="d-flex flex-column">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"><a class="make_throw"><i
                                                                    class="fas fa-dice-d20"></i></a>
                                                    </div>
                                                </div>
                                                <input class="form-control form-control-sm input-ability-temp-mod" id=""
                                                       type="text" value="" tested_name="<%= ability.name %>" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        </form>
                    </div>
                    <h3 class="text-center">Rzuty obronne</h3>
                    <div class="container">
                        <div class="row table_labels">
                            <div class="col col-3 text-truncate">Nazwa</div>
                            <div class="col col-3 text-truncate">Wartość</div>
                            <div class="col col-2 text-truncate">Modyfikator</div>
                            <div class="col col-2 text-truncate">Premia klasowa</div>
                            <div class="col col-2 text-truncate">Inne</div>
                        </div>
                        <form class="form">
                            <% _.each(character.saves, function (save) { %>
                                <div class="form-row input_saves">
                                    <div class="form-group col-3">
                                        <div class="d-flex flex-column">
                                            <h5 class="input-name"><%= save.name %></h5>
                                        </div>
                                    </div>
                                    <div class="form-group col-3">
                                        <div class="d-flex flex-column">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"><a class="make_throw"><i
                                                                    class="fas fa-dice-d20"></i></a>
                                                    </div>
                                                </div>
                                                <input class="form-control form-control-sm input-value-1" id=""
                                                       type="text"
                                                       value="" disabled tested_name="<%= save.name %>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-2">
                                        <div class="d-flex flex-column">
                                            <input class="form-control form-control-sm input-value-2 ability_source_<%= save.ability %> input-ability-<%= save.ability %>"
                                                   id="" type="text" value="" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group col-2">
                                        <div class="d-flex flex-column">
                                            <input class="form-control form-control-editable form-control-sm input-value-3"
                                                   id="" type="text" value="<%= save.value3 %>"
                                                   field_save_id="<%= save.id %>" field_value_id="value3">
                                        </div>
                                    </div>
                                    <div class="form-group col-2">
                                        <div class="d-flex flex-column">
                                            <input class="form-control form-control-editable form-control-sm input-value-4"
                                                   id="" type="text" value="<%= save.value4 %>"
                                                   field_save_id="<%= save.id %>" field_value_id="value4">
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        </form>
                    </div>
                    <h3 class="text-center">Inicjatywa</h3>
                    <div class="container">
                        <form>
                            <% _.each(character.initiative, function (initiative) { %>
                                <div class="form-row form-initiative input_other">
                                    <div class="form-group col-3">
                                        <div class="d-flex flex-column">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"><a class="make_throw"><i
                                                                    class="fas fa-dice-d20"></i></a>
                                                    </div>
                                                </div>
                                                <input type="text" class="form-control form-control-sm"
                                                       id="inputInitiativeSum" value="" disabled
                                                       tested_name="Inicjatywa">
                                            </div>
                                            <label for="inputAddress">Inicjatywa</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-3">
                                        <div class="d-flex flex-column">
                                            <input type="text"
                                                   class="form-control form-control-sm ability_source_ZR input-ability-ZR"
                                                   id="inputInitiativeAbility" value="" disabled>
                                            <label for="inputAddress">Premia ze zręczności</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-3">
                                        <div class="d-flex flex-column">
                                            <input type="text" class="form-control form-control-sm"
                                                   id="inputInitiativeDataPerks" value="<%= initiative.perks %>"
                                                   field_initiative_id="<%= initiative.id %>" field_value_id="perks">
                                            <label for="inputAddress">Atuty</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-3">
                                        <div class="d-flex flex-column">
                                            <input type="text" class="form-control form-control-sm"
                                                   id="inputInitiativeDataOther" value="<%= initiative.other %>"
                                                   field_initiative_id="<%= initiative.id %>" field_value_id="other">
                                            <label for="inputAddress">Inne</label>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        </form>
                    </div>
                    <div class="container" id="others_container">
                        <% _.each(character.others, function (other) { %>
                            <div class="row">
                                <div class="col col-6">
                                    <h3 class="text-center">Szybkość</h3>
                                    <div class="container">
                                        <form>
                                            <div class="form-row form-others">
                                                <div class="form-group col-6">
                                                    <div class="d-flex flex-column">
                                                        <input type="text" class="form-control form-control-sm"
                                                               id="inputOthersSpeed" value="<%= other.speed %>"
                                                               field_others_id="<%= other.id %>" field_value_id="speed">
                                                        <label for="inputOthersSpeed">Szybkość</label>
                                                    </div>
                                                </div>
                                                <div class="form-group col-6">
                                                    <div class="d-flex flex-column">
                                                        <input type="text" class="form-control form-control-sm"
                                                               id="inputOthersSpeedArmor"
                                                               value="<%= other.speedArmor %>"
                                                               field_others_id="<%= other.id %>"
                                                               field_value_id="speedArmor">
                                                        <label for="inputOthersSpeedArmor">Prędkość w zbroi</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col col-6">
                                    <h3 class="text-center">Atak bazowy</h3>
                                    <div class="container">
                                        <form>
                                            <div class="form-row form-others">
                                                <div class="form-group col-12">
                                                    <div class="d-flex flex-column">
                                                        <input type="text" class="form-control form-control-sm"
                                                               id="inputOthersBaseAttack"
                                                               value="<%= other.baseAttack %>"
                                                               field_others_id="<%= other.id %>"
                                                               field_value_id="baseAttack">
                                                        <label for="inputOthersBaseAttack">Bazowa premia do
                                                            ataku</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    <h3 class="text-center">Atuty</h3>
                    <div class="container" id="perks_container">
                        <div class="row table_labels">
                            <div class="col col-7 text-truncate">Atut</div>
                            <div class="col col-3 text-truncate">Cechy</div>
                            <div class="col col-1 text-truncate"></div>
                            <div class="col col-1 text-truncate"></div>
                        </div>
                        <form class="form" id="perks_form" field_character_id="<%= character.id %>">
                            <% _.each(character.perks, function (perk) { %>
                                <div class="form-row form-perks">
                                    <div class="form-group col-7">
                                        <div class="d-flex flex-column">
                                            <input class="form-control form-control-sm" id="" type="text"
                                                   value="<%= perk.name %>" field_perks_id="<%= perk.id %>"
                                                   field_value_id="name">
                                        </div>
                                    </div>
                                    <div class="form-group col-3">
                                        <div class="d-flex flex-column">
                                            <input class="form-control form-control-sm" id="" type="text"
                                                   value="<%= perk.descriptionShort %>" field_perks_id="<%= perk.id %>"
                                                   field_value_id="descriptionShort">
                                        </div>
                                    </div>
                                    <div class="form-group col-1">
                                        <div class="d-flex flex-column">
                                            <button
                                                    type="button"
                                                    class="btn btn-sm btn-light"
                                                    data-toggle="modal"
                                                    data-target="#exampleModal-<%= perk.id %>"
                                            >
                                                <i class="fas fa-sticky-note"></i>
                                            </button>
                                            <div class="modal fade" id="exampleModal-<%= perk.id %>" tabindex="-1"
                                                 role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                        <textarea
                                                                class="form-control form-control-sm"
                                                                rows="20"
                                                                field_perks_id="<%= perk.id %>"
                                                                field_value_id="descriptionFull"
                                                        ><%= perk.descriptionFull %></textarea>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Zamknij
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-1">
                                        <div class="d-flex flex-column">
                                            <div class="input-group input-group-sm">
                                                <a
                                                        class="btn btn-sm btn-outline-light remove-form-row"
                                                        field_row_id="<%= perk.id %>"
                                                        field_row_model="Perks"
                                                >&times;</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        </form>
                        <hr>
                        <a class="btn btn-sm btn-outline-primary" id="new_perks_row">Dodaj</a>
                    </div>
                </div>
                <div class="col col-12 col-xl-4 col-lg-12 col-md-12 col-sm-12">
                    <h3 class="text-center"
                        title="Punkty wytrzymałości"
                        data-container="body"
                        data-toggle="popover"
                        data-trigger="hover"
                        data-placement="left"
                        data-html="true"
                        data-content="Punkty wytrzymałości wskazują, jak trudno zabić twoją postać. Bez względu na to, ile ich straci bohater, może działać bez problemów i ograniczeń, dopóki ma przynajmniej 1 punkt wytrzymałości."
                    >Zdrowie</h3>
                    <div class="container">
                        <form>
                            <% _.each(character.hp, function (hp) { %>
                                <div class="form-row form-hp">
                                    <div class="form-group col-2">
                                        <div class="d-flex flex-column">
                                            <input type="text" class="form-control form-control-sm" id="inputHPSum"
                                                   value="<%= hp.full %>" field_hp_id="<%= hp.id %>"
                                                   field_value_id="full">
                                            <label class="text-truncate" for="inputAddress">Punkty wytrzymałości</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-2">
                                        <div class="d-flex flex-column">
                                            <input type="text" class="form-control form-control-sm" id="inputHPActual"
                                                   value="" disabled>
                                            <label class="text-truncate" for="inputAddress">Bieżące punkty
                                                wytrzymałości</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <div class="d-flex flex-column">
                                            <input type="text" class="form-control form-control-sm"
                                                   id="inputHPDataWounds"
                                                   value="<%= hp.normal %>" field_hp_id="<%= hp.id %>"
                                                   field_value_id="normal">
                                            <label class="text-truncate" for="inputAddress">Obrażenia</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-2">
                                        <div class="d-flex flex-column">
                                            <input type="text" class="form-control form-control-sm"
                                                   id="inputHPDataNonLethal" value="<%= hp.contusion %>"
                                                   field_hp_id="<%= hp.id %>" field_value_id="contusion">
                                            <label class="text-truncate" for="inputAddress">Stłuczenia</label>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        </form>
                    </div>
                    <h3 class="text-center">Klasa pancerza</h3>
                    <div class="container">
                        <form>
                            <% _.each(character.ac, function (ac) { %>
                                <div class="form-row form-ac">
                                    <div class="form-group col-4">
                                        <div class="d-flex flex-column">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"><a class="make_throw"><i
                                                                    class="fas fa-dice-d20"></i></a>
                                                    </div>
                                                </div>
                                                <input type="text" class="form-control form-control-sm"
                                                       id="inputACSum" value="" disabled
                                                       tested_name="Klasa pancerza">
                                            </div>
                                            <label for="inputAddress">Klasa pancerza</label>
                                        </div>
                                    </div>

                                    <div class="form-group col-4">
                                        <div class="d-flex flex-column">
                                            <input type="text" class="form-control form-control-sm" id="inputACArmor"
                                                   value="<%= ac.armor %>" field_ac_id="<%= ac.id %>"
                                                   field_value_id="armor">
                                            <label for="inputACArmor">Zbroja</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-4">
                                        <div class="d-flex flex-column">
                                            <input type="text" class="form-control form-control-sm"
                                                   id="inputACShield" value="<%= ac.shield %>"
                                                   field_ac_id="<%= ac.id %>" field_value_id="shield">
                                            <label for="inputACShield">Tarcza</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-2 input_other">
                                        <div class="d-flex flex-column">
                                            <input type="text" class="form-control form-control-sm input-ability-ZR"
                                                   id="inputACDexternity"
                                                   field_ac_id="<%= ac.id %>" disabled>
                                            <label for="inputACDexternity">Zręczność</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-2">
                                        <div class="d-flex flex-column">
                                            <input type="text" class="form-control form-control-sm"
                                                   id="inputACMaxDexternity"
                                                   value="<%= ac.dexternity %>" field_ac_id="<%= ac.id %>"
                                                   field_value_id="dexternity">
                                            <label for="inputACMaxDexternity">Max zręczność</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-2">
                                        <div class="d-flex flex-column">
                                            <input type="text" class="form-control form-control-sm"
                                                   id="inputACNaturalArmor"
                                                   value="<%= ac.naturalArmor %>" field_ac_id="<%= ac.id %>"
                                                   field_value_id="naturalArmor">
                                            <label for="inputACNaturalArmor">Naturalny pancerz</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-2">
                                        <div class="d-flex flex-column">
                                            <input type="text" class="form-control form-control-sm" id="inputACSize"
                                                   value="<%= ac.size %>" field_ac_id="<%= ac.id %>"
                                                   field_value_id="size">
                                            <label for="inputACSize">Modyfikator z rozmiaru</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-2">
                                        <div class="d-flex flex-column">
                                            <input type="text" class="form-control form-control-sm"
                                                   id="inputACReflexion"
                                                   value="<%= ac.reflexion %>" field_ac_id="<%= ac.id %>"
                                                   field_value_id="reflexion">
                                            <label for="inputACReflexion">Modyfikator z odbicia</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-2">
                                        <div class="d-flex flex-column">
                                            <input type="text" class="form-control form-control-sm" id="inputACOthers"
                                                   value="<%= ac.others %>" field_ac_id="<%= ac.id %>"
                                                   field_value_id="others">
                                            <label for="inputACOthers">Inne</label>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        </form>
                    </div>
                    <h3 class="text-center">Ataki bronią</h3>
                    <div class="container" id="attacks_container">
                        <div class="row table_labels">
                            <div class="col col-4 text-truncate">Nazwa</div>
                            <div class="col col-3 text-truncate">Premia do ataku</div>
                            <div class="col col-4 text-truncate">Obrażenia (+kość "d")</div>
                        </div>
                        <form class="form" id="attacks_form" field_character_id="<%= character.id %>">

                            <% _.each(character.attacks, function (attack) { %>

                                <div class="form-row form-attacks">
                                    <div class="form-group col-4">
                                        <div class="d-flex flex-column">
                                            <input class="form-control form-control-sm" id="" type="string"
                                                   value="<%= attack.name %>" field_attacks_id="<%= attack.id %>"
                                                   field_value_id="name">
                                        </div>
                                    </div>
                                    <div class="form-group col-3">
                                        <div class="d-flex flex-column">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"><a class="make_throw"><i
                                                                    class="fas fa-dice-d20"></i></a>
                                                    </div>
                                                </div>
                                                <input class="form-control form-control-sm" id="" type="string"
                                                       value="<%= attack.bonus %>" field_attacks_id="<%= attack.id %>"
                                                       field_value_id="bonus">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-4">
                                        <div class="d-flex flex-column">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"><a class="make_throw_another_dice"><i
                                                                    class="fas fa-dice-d20"></i></a>
                                                    </div>
                                                </div>
                                                <input class="form-control form-control-sm" id="" type="string"
                                                       value="<%= attack.damage %>" field_attacks_id="<%= attack.id %>"
                                                       field_value_id="damage">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-1">
                                        <div class="d-flex flex-column">
                                            <div class="input-group input-group-sm">
                                                <a
                                                        class="btn btn-sm btn-outline-light remove-form-row"
                                                        field_row_id="<%= attack.id %>"
                                                        field_row_model="Attacks"
                                                >&times;</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        </form>
                        <hr>
                        <a class="btn btn-sm btn-outline-primary " id="new_attacks_row">Dodaj</a>
                    </div>

                </div>
                <div class="col col-12 col-xl-4 col-lg-12 col-md-12 col-sm-12">
                    <h3 class="text-center">Umiejętności</h3>
                    <div class="container">
                        <div class="row table_labels">
                            <div class="col col-3 text-truncate">Nazwa</div>
                            <div class="col col-3 text-truncate">Premia</div>
                            <div class="col col-2 text-truncate">Atrybut</div>
                            <div class="col col-2 text-truncate">Rangi</div>
                            <div class="col col-2 text-truncate">Inne</div>
                        </div>
                        <form class="form skills" id="sortable">

                            <% _.each(character.skills, function (skills) { %>

                                <div class="form-row input_skills ui-state-default" id="<%= skills.id %>"
                                     data-toggle="tooltip" data-placement="left"
                                     title="Umiejętność: <%= skills.name %>">
                                    <div class="form-group col-3">
                                        <div class="d-flex flex-column">
                                            <h5 class="d-inline-block input-name text-truncate">
                                                <span><i class="d-inline-block fas fa-grip-vertical"></i></span>
                                                <%= skills.name %>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="form-group col-3">
                                        <div class="d-flex flex-column">

                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"><a class="make_throw"><i
                                                                    class="fas fa-dice-d20"></i></a>
                                                    </div>
                                                </div>
                                                <input class="form-control form-control-sm input-value-1" type="text"
                                                       value="" tested_name="<%= skills.name %>" disabled>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group col-2">
                                        <div class="d-flex flex-column">
                                            <input class="form-control form-control-sm input-value-2 ability_source_<%= skills.ability %> input-ability-<%= skills.ability %>"
                                                   id="inputValue2" type="text" value="" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group col-2">
                                        <div class="d-flex flex-column">
                                            <input class="form-control form-control-editable form-control-sm input-value-3"
                                                   type="text" value="<%= skills.value3 %>"
                                                   field_skills_id="<%= skills.id %>" field_value_id="value3">
                                        </div>
                                    </div>
                                    <div class="form-group col-2">
                                        <div class="d-flex flex-column">
                                            <input class="form-control form-control-editable form-control-sm input-value-4"
                                                   type="text" value="<%= skills.value4 %>"
                                                   field_skills_id="<%= skills.id %>" field_value_id="value4">
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="eq" role="tabpanel" aria-labelledby="eq-tab">
            <div class="row">
                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12">

                    <div class="container-fluid" id="items_container">
                        <div class="row table_labels">
                            <div class="col col-2 text-truncate">Nazwa</div>
                            <div class="col col-7 text-truncate">Właściwość</div>
                            <div class="col col-1 text-truncate">Ilość</div>
                            <div class="col col-1 text-truncate">Cena/szt.</div>
                            <div class="col col-1 text-truncate"></div>
                        </div>
                        <form class="form" id="items_form" field_character_id="<%= character.id %>">
                            <% _.each(character.items, function (item) { %>
                                <div class="form-row form-items">
                                    <div class="form-group col-2">
                                        <div class="d-flex flex-column">
                                            <input class="form-control form-control-sm" id="" type="text"
                                                   value="<%= item.name %>" field_items_id="<%= item.id %>"
                                                   field_value_id="name">
                                        </div>
                                    </div>
                                    <div class="form-group col-7">
                                        <div class="d-flex flex-column">
                                            <input class="form-control form-control-sm" id="" type="text"
                                                   value="<%= item.description %>" field_items_id="<%= item.id %>"
                                                   field_value_id="description">
                                        </div>
                                    </div>
                                    <div class="form-group col-1">
                                        <div class="d-flex flex-column">
                                            <input class="form-control form-control-sm" id="" type="text"
                                                   value="<%= item.amount %>" field_items_id="<%= item.id %>"
                                                   field_value_id="amount">
                                        </div>
                                    </div>
                                    <div class="form-group col-1">
                                        <div class="d-flex flex-column">
                                            <input class="form-control form-control-sm" id="" type="text"
                                                   value="<%= item.price %>" field_items_id="<%= item.id %>"
                                                   field_value_id="price">
                                        </div>
                                    </div>
                                    <div class="form-group col-1">
                                        <div class="d-flex flex-column">
                                            <div class="input-group input-group-sm">
                                                <a
                                                        class="btn btn-sm btn-light remove-form-row"
                                                        field_row_id="<%= item.id %>"
                                                        field_row_model="Items"
                                                >&times;</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        </form>
                        <hr>
                        <a class="btn btn-sm btn-outline-primary" id="new_items_row">Dodaj</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="spells" role="tabpanel" aria-labelledby="spells-tab">
            <div class="row">
                <div class="col col-12 col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <h3 class="text-center">Statystyki czarów</h3>
                    <div class="container">
                        <div class="row table_labels">
                            <div class="col col-2 text-truncate">Stopień rzutu obronnego</div>
                            <div class="col col-2 text-truncate">Poziom</div>
                            <div class="col col-2 text-truncate">Czary dzienne</div>
                            <div class="col col-2 text-truncate">Czary bazowe</div>
                            <div class="col col-2 text-truncate">Czary ze specjalizacji</div>
                            <div class="col col-2 text-truncate">Czary premiowe</div>
                        </div>

                        <form class="form" id="ss_form" field_character_id="<%= character.id %>">

                            <% _.each(character.ss, function (ss) { %>
                                <div class="form-row form-ss form_ss input_ss">
                                    <div class="form-group col-2">
                                        <div class="d-flex flex-column">
                                            <input class="form-control form-control-sm input-value input-value-sum"
                                                   type="text"
                                                   spells_level_value="<%= ss.level %>" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group col-2 align-middle">
                                        <div class="d-flex flex-column">
                                            <h5 class="input-name"><%= ss.level %></h5>
                                        </div>
                                    </div>
                                    <div class="form-group col-2">
                                        <div class="d-flex flex-column">
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control form-control-sm" id="inputSSSum"
                                                       value=""
                                                       disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-2">
                                        <div class="d-flex flex-column">
                                            <input class="form-control form-control-editable form-control-sm"
                                                   id="inputSSBaseSpells"
                                                   type="text"
                                                   value="<%= ss.base %>" field_ss_id="<%= ss.id %>"
                                                   field_value_id="base">
                                        </div>
                                    </div>
                                    <div class="form-group col-2">
                                        <div class="d-flex flex-column">
                                            <div class="input-group input-group-sm">
                                                <input class="form-control form-control-editable form-control-sm "
                                                       id="inputSSSpecSpells" type="text"
                                                       value="<%= ss.spec %>" field_ss_id="<%= ss.id %>"
                                                       field_value_id="spec">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-2">
                                        <div class="d-flex flex-column">
                                            <div class="input-group input-group-sm">
                                                <input class="form-control form-control-editable form-control-sm"
                                                       id="inputSSBonusSpells" type="text"
                                                       value="<%= ss.bonus %>" field_ss_id="<%= ss.id %>"
                                                       field_value_id="bonus">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        </form>
                        <form>
                            <% _.each(character.others, function (other) { %>
                                <div class="form-row form-others input_other">
                                    <div class="form-group col-6">
                                        <h5>Bazowy atrybut czarów:</h5>
                                    </div>
                                    <div class="form-group col-6">
                                        <select class="custom-select custom-select-sm form-control  form-control-sm "
                                                id="inputOthersSpellAbility"
                                                field_others_id="<%= other.id %>" field_value_id="spellAbility">
                                            <option value="CHA" <% if(other.spellAbility === 'CHA'){ %>selected
                                                    <% } %>
                                            >CHA
                                            </option>
                                            <option value="INT" <% if(other.spellAbility === 'INT'){ %>selected
                                                    <% } %>
                                            >INT
                                            </option>
                                            <option value="RZT" <% if(other.spellAbility === 'RZT'){ %>selected
                                                    <% } %>
                                            >RZT
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group input-other" style="display: none;">
                                        <input class="" id="inputOthersSpellAbilityValue" type="text" name="" value="">
                                        <input class="input-ability input-ability-CHA" id="" type="text" name=""
                                               value="">
                                        <input class="input-ability input-ability-INT" id="" type="text" name=""
                                               value="">
                                        <input class="input-ability input-ability-RZT" id="" type="text" name=""
                                               value="">
                                    </div>
                                </div>
                            <% }) %>
                        </form>
                    </div>
                </div>
                <div class="col col-12 col-xl-8 col-lg-8 col-md-12 col-sm-12">
                    <h3 class="text-center">Lista zaklęć</h3>
                    <div class="container" id="spells_container">
                        <div class="row table_labels">
                            <div class="col col-1 text-truncate">Komórki czaru</div>
                            <div class="col col-1 text-truncate">Poziom</div>
                            <div class="col col-2 text-truncate">Nazwa</div>
                            <div class="col col-4 text-truncate">Opis krótki</div>
                            <div class="col col-1 text-truncate">Opis pełny</div>
                            <div class="col col-2 text-truncate">Rzut (+kość "d")</div>
                            <div class="col col-1 text-truncate"></div>
                        </div>
                        <form class="form" id="spells_form" field_character_id="<%= character.id %>">
                            <% _.each(character.spells, function (spell) { %>
                                <div class="form-row form-spells">
                                    <div class="form-group col col-1">
                                        <div class="d-flex flex-column">
                                            <input class="form-control form-control-sm input-value"
                                                   value="<%= spell.cells %>"
                                                   field_spells_id="<%= spell.id %>"
                                                   field_value_id="cells"
                                                   type="number">
                                        </div>
                                    </div>
                                    <div class="form-group col col-1">
                                        <div class="d-flex flex-column">
                                            <input class="form-control form-control-sm input-value"
                                                   value="<%= spell.level %>"
                                                   field_spells_id="<%= spell.id %>"
                                                   field_value_id="level"
                                                   type="number">
                                        </div>
                                    </div>
                                    <div class="form-group col col-2">
                                        <div class="d-flex flex-column">
                                            <input class="form-control form-control-sm input-value"
                                                   value="<%= spell.name %>"
                                                   field_spells_id="<%= spell.id %>"
                                                   field_value_id="name"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="form-group col col-4">
                                        <div class="d-flex flex-column">
                                            <input class="form-control form-control-sm input-value"
                                                   value="<%= spell.description %>"
                                                   field_spells_id="<%= spell.id %>"
                                                   field_value_id="description"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="form-group col col-1">
                                        <div class="d-flex flex-column">
                                            <button
                                                    type="button"
                                                    class="btn btn-sm btn-light"
                                                    data-toggle="modal"
                                                    data-target="#spells-modal-<%= spell.id %>"
                                            >
                                                <i class="fas fa-sticky-note"></i>
                                            </button>
                                            <div class="modal fade" id="spells-modal-<%= spell.id %>" tabindex="-1"
                                                 role="dialog"
                                                 aria-labelledby="spells-modal-label" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="spells-modal-label"></h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                <textarea
                                                        class="form-control form-control-sm"
                                                        rows="20"
                                                        field_spells_id="<%= spell.id %>"
                                                        field_value_id="notepad"
                                                ><%= spell.notepad %></textarea>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">
                                                                Zamknij
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col col-2">
                                        <div class="d-flex flex-column">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"><a class="make_throw_another_dice"><i
                                                                    class="fas fa-dice-d20"></i></a>
                                                    </div>
                                                </div>
                                                <input class="form-control form-control-sm input-value-1"
                                                       type="text"
                                                       value="<%= spell.throw %>"
                                                       field_spells_id="<%= spell.id %>"
                                                       field_value_id="throw"
                                                       tested_name="<%= spell.name %>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col col-1">
                                        <div class="d-flex flex-column">
                                            <div class="input-group input-group-sm">
                                                <a class="btn btn-sm btn-outline-light remove-form-row"
                                                   field_row_id="<%= spell.id %>"
                                                   field_row_model="Spells">&times;</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        </form>
                        <hr>
                        <a class="btn btn-sm btn-outline-primary " id="new_spells_row">Dodaj</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- partial('./dice_js.ejs') %>
